@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Titillium Web', sans-serif;
}

p {
  font-family: 'Titillium Web', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: #5BE9B9;
}

button:hover {
  color: #5BE9B9;
}

* {
  box-sizing: border-box;
}

span.MuiLinearProgress-bar {
  background-color: #6e09f3;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  gap: 30px;
}

main div {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  Transition: all ease-in 1s;
}

main div:first-child {
  transform: translateX(-150%);
  opacity: 0;
}

main div:last-child {
  transform: translateX(150%);
  opacity: 0;
}

.slide-in {
  transform: translateX(0) !important;
  opacity: 1 !important;
}