/* Start Testimonials carousel */
.container {
  margin: 3rem 0;
  width: 50%;
  padding: 20px;
  border-radius: 15px;
}

.container h1 {
  font-size: 35px;
  text-align: center;
}

.seperator {
  width: 100%;
  border: 1px solid black;
  box-shadow: 2px 2px #5BE9B9;
}

.seperator2 {
  width: 50%;
  border: 1px solid black;
  box-shadow: 2px 2px #5BE9B9;
}

.carousWrapper {
  width: 100%;
}

.card {
  display: inline-block;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 100%;
  margin: 10px;
  padding: 20px;
}

.title {
  background-color: rgba(4, 4, 4, 0.228);
  border-radius: 15px;
}

.title h3 {
  padding: 2rem;
  color: #fff;
}
/* End Testimonials carousel */

.work {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80%;
}

.btn {
  color: #6e07f3 !important;
}

.btn:hover {
  color: #5BE9B9 !important;
}

.section {
  background-color: #6e07f3;
  width: 100%;
  height: 500px;
  margin-top: -150px !important;
  border-bottom: 2px solid black;
}


/* Sections Start  */
.sectionApp {
  background-color: #6e07f3;
  font-size: 34px;
  width: 100%;
  height: 300px;
  border: 2px solid black;
  margin-top: 20px;
  box-shadow: inset 0 0 10px black;
  margin-bottom: 100px;
}

.sectionTech {
  background-color: #6e07f3;
  font-size: 34px;
  width: 100%;
  height: 300px;
  text-align: center;
  border: 2px solid black;
  margin-top: 20px;
  margin-bottom: 60px;
  box-shadow: inset 0 0 10px black;
}
/* Sections End  */

.devices {
  margin-top: -30px !important;
  padding-bottom: 0;
}

.homeBio {
  margin-top: 20px;
  padding-top: 30px;
  color: white;
  font-size: 40px;
}

.homeBioSummary {
  color: white;
  font-size: 25px;
  margin-left: 20%;
  margin-right: 20%;
}

.blurb {
  font-size: 16px;
  margin-left: 20px;
  margin-right: 20px;
}

.cardHead {
  color: #6e07f3;
  font-size: 18px;
}

.rowOfTitles {
  display: table;
  clear: both;
  margin-top: -160px;
  margin-bottom: -52px;
}

.columnTitles {
  font-weight: bold;
  float: left;
  padding-top: 20px;
  margin-left: 12px;
  margin-bottom: 200px;
  width: 400px;
  height: 720px;
  background-color: white;
  border: 1px ridge black;
  border-radius: 25px;
  box-shadow: 5px 5px #5BE9B9;
}

.headline {
  font-size: 3rem;
  font-size: 40px;
  text-align: center;
  margin-top: 140px;
  color: black;
}

.gitPro {
  font-size: 40px;
  margin-top: 380px;
}

.games {
  text-align: center;
  margin-top: 75px;
  font-size: 50px;
  border-radius: 50px;
  width: 50%;
}

.funGamesSection {
  background-color: #6e07f3; 
  height: 350px; 
  margin-bottom: 0px; 
  color: white;
  box-shadow: inset 0 10px 20px #000000;
}

.titles {
  text-align: center;
  font-size: 2rem;
  text-decoration: underline;
}

.iframe {
  border: none;
  margin-top: 20px;
  margin-bottom: 100px;
}

.bottom {
  margin-top: 100px;
}

.projects {
  margin-top: -10px;
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: rockwell, sans-serif;
  font-size: 1.5rem;
}

.heading {
  text-decoration: underline;
}

.summary {
  width: 70%;
  font-size: 30px;
}

.overview {
  width: 50%;
  font-size: 20px;
}

.details {
  font-size: 16px;
}

/* GitHub Page Start */
.git {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: rockwell, sans-serif;
  font-size: 2rem;
  margin-top: 40px;
}

.gitBG {
  background-image: url("../assets/githubBG.png");
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  height: 540px;
  margin-top: -30px;
  margin-bottom: -30px;
  color: white;
}

.gitTech {
  color: white;
}

.gitType {
  height: 250px;
  text-align: center;
  line-height: 75px;
  margin-bottom: 100px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

.gitImg {
  width: 600px;
  height: 400px;
  margin-left: 15px;
} 
/* GitHub Page End */

.social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 20%;
}

.socialContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.socialTitle {
  font-size: 1.2rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  text-decoration: underline;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 10px;
}

.header {
  padding-top: 40px;
  font-size: 4rem;
  font-size: 60px;
}

.profilePic {
  border-radius: 150px;
  padding: 10px;
  border: 10px solid black;
  margin-bottom: 20px;
  box-shadow: 20px;
}

.aboutText {
  font-size: 1rem;
  margin-bottom: 1rem;
  display: flex;
  text-align: justify;
  line-height: 20px;
  width: 60%;
  margin-top: 2rem;
}

.techStack {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
  margin-bottom: 100px;
  padding-top: 10px;
  border-radius: 50px;
  box-shadow: inset 0 0 10px #000000;
  background-color: whitesmoke;
}

.tech {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.portfolio {
  width: 100%;
}

.portIMG {
  width: 900px;
  height: 540px;
}

.gitCarImg {
  width: 800px;
  height: 600px;
}

.portCar {
  width: 90%;
  height: 100%;
}

.portCarOuter {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 100%;
  border-radius: 10px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 40px;
  padding-top: 30px;
}

.gitCarOuter {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 100%;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 40px;
  padding-top: 30px;
}

.gitStreak {
  position: absolute;
  top: 910px;
}

.gitTrophy {
  position: absolute;
  top: 1330px;
}

.portCarInner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.para {
  font-size: 22px;
}

.footer {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid white;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  height: 500px; 
  width: 100%;
  background-color: #6e07f3;
  background-position: 0% 0%;
  bottom: 0pt;
  box-shadow: inset 0 0 10px #000000;
}

@media screen and (max-width: 1300px) {
  .social {
    width: 50%;
    justify-content: space-between;
  }

  .socialContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .aboutText {
    width: 70%;
  }

  .heading{
    font-size: 45px;
  }

  .portfolio {
    width: 100%;
  }
  
  .portIMG {
    width: 700px;
    height: 420px;
  }

  .gitCarImg {
    width: 600px;
    height: 450px;
  }
  
  .portCar {
    width: 100%;
    height: 100%;
  }
  
  .portCarOuter {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%;
  }
  
  .portCarInner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .sectionApp {
    background-color: #6e07f3;
    font-size: 26px;
    width: 100%;
    height: 300px;
    border: 2px solid black;
    margin-top: 20px;
    box-shadow: inset 0 0 10px black;
  }

  .gitPro {
    font-size: 40px;
  }

  .para {
    font-size: 20px;
  }

  .games {
    font-size: 36px;
  }

  .gameTitles {
    font-size: 30px !important;
  }

  .container {
    margin: 2rem 0;
    width: 100%;
    padding: 20px;
  }

  .rowOfTitles {
    display: flex;
    flex-direction: column;
    clear: both;
    margin-top: -100px;
    align-items: center;
  }
}

@media screen and (max-width: 1000px) {
  .heading{
    margin-left: 10px;
    font-size: 42px;
  }

  .git {
    font-size: 24px;
  }

  .portIMG {
    width: 600px;
    height: 360px;
  }

  .gitCarImg {
    width: 400px;
    height: 300px;
  }

  .portCarOuter {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  .gitPro {
    font-size: 30px;
  }

  .sectionTech {
    height: 250px;
  }

  .gitTech {
    font-size: 24px;
  }

  .gitStreak {
    position: absolute;
    top: 890px;
  }
  
  .gitTrophy {
    position: absolute;
    top: 1px;
  }

  .para {
    font-size: 18px;
  }

  .rowOfTitles {
    margin-top: -50px;
  }

  .homeBioSummary {
    font-size: 20px;
  }
}

@media screen and (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }

  .aboutText {
    width: 80%;
  }

  .heading{
    margin-left: 10px;
    font-size: 40px;
  }

  .summary{
    width: 80%;
    font-size: 25px;
  }

  .overview {
    width: 80%;
    font-size: 20px;
  }

  .power {
    padding-top: 10px;
  }

  .footer {
    display: flex;
    flex-direction: column;  
    align-items: space-evenly;
    height: 300px;
    font-size: .75rem;
  }

  .footer span {
    padding-top: 6px;
  }

  .git {
    font-size: 20px;
  }

  .gitTech {
    font-size: 20px;
  }

  .gitImg {
    width: 90%;
    margin-left: 15px;
  } 

  .sectionTech {
    height: 200px;
  }

  .gitType {
    height: 250px;
    text-align: center;
    line-height: 50px;
  }

  .portIMG {
    width: 450px;
    height: 270px;
  }

  .gitCarOuter { 
    width: 100%;
    height: 100%;
  }

  .gitCarImg {
    width: 300px;
    height: 225px;
  }

  .homeBioSummary {
    font-size: 20px;
    margin-left: 10%;
    margin-right: 10%;
  }

  .para {
    font-size: 16px;
  }

  .gameTitles {
    font-size: 20px !important;
  }

  .gameIMG {
    width: 370px;
    height: 222px;
  }
}

@media screen and (max-width: 500px) {

 .social {
    width: 75%;
    justify-content: space-between;
 }

  .socialContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .sectionApp {
    background-color: #6e07f3;
    font-size: 16px;
    width: 100%;
    height: 220px;
    border: 2px solid black;
    margin-top: 20px;
  }

  .gitCarImg {
    width: 200px;
    height: 150px;
  }

  .para {
    font-size: 12px;
  }

  .portIMG {
    width: 350px;
    height: 210px;
  }
}