.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: rockwell, sans-serif;
  font-size: 1.5rem;
  background-image: url('../assets/codinggif.gif');
  background-repeat: no-repeat;
  background-size: cover;
}

.projects {
  margin-top: 40px;
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: rockwell, sans-serif;
  font-size: 1.5rem;
}

.heading {
  text-decoration: underline;
}

.summary {
  width: 70%;
  font-size: 30px;
}

.overview {
  width: 50%;
  font-size: 20px;
}

.details {
  font-size: 16px;
}

.git {
  color: whitesmoke;
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: rockwell, sans-serif;
  font-size: 2rem;
  background-image: url('../assets/codeBG.jpeg');
  margin-top: 40px;
}

.gitType {
  height: 250px;
  text-align: center;
  line-height: 65px;
}

.gitImg {
  width: 600px;
  height: 400px;
  margin-left: 15px;
} 

.social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 20%;
}

.socialContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.socialTitle {
  font-size: 1.2rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  text-decoration: underline;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 10px;
}

.header {
  padding-top: 40px;
  font-size: 4rem;
  text-decoration: underline;
}

.profilePic {
  border-radius: 150px;
  padding: 10px;
  border: 10px solid black;
  margin-bottom: 20px;
  box-shadow: 20px;
}

.aboutText {
  font-size: 1rem;
  margin-bottom: 1rem;
  display: flex;
  text-align: justify;
  line-height: 20px;
  width: 60%;
  margin-top: 2rem;
}

.techStack {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin-bottom: 20px;
  padding-top: 10px;
  border-radius: 50px;
  box-shadow: inset 0 0 10px #000000;
  background-color: whitesmoke;
}

.tech {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid white;
  justify-content: center;
  align-items: center;
  color: white;
  height: 65px; 
  width: 100%;
  background-color: #1976d2;
  background-position: 0% 0%;
  position: fixed;
  bottom: 0pt;
}

@media screen and (max-width: 1550px) {
  .social {
    width: 50%;
   justify-content: space-between;
 }

 .socialContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
 }

  .aboutText {
    width: 70%;
  }

  .heading{
    font-size: 45px;
  }
}

@media screen and (max-width: 1000px) {
  .heading{
    margin-left: 10px;
    font-size: 42px;
  }

  .git {
    font-size: 24px;
  }
}

@media screen and (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }

  .aboutText {
    width: 80%;
  }

  .heading{
    margin-left: 10px;
    font-size: 40px;
  }

  .summary{
    width: 80%;
    font-size: 25px;
  }

  .overview {
    width: 80%;
    font-size: 20px;
  }

  .power {
    padding-top: 10px;
  }

  .footer {
    display: flex;
    flex-direction: column;  
    align-items: space-evenly;
    height: 90px;
    font-size: .75rem;
  }

  .footer span {
    padding-top: 6px;
  }

  .git {
    font-size: 20px;
  }
  .gitImg {
    width: 90%;
    margin-left: 15px;
  } 

  .gitType {
    height: 250px;
    text-align: center;
    line-height: 50px;
  }
}

@media screen and (max-width: 500px) {

 .social {
    width: 75%;
    justify-content: space-between;
 }

 .socialContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
 }
}